* {
  @include prefixer(box-sizing, border-box, webkit moz o ms);
}
.container {
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
  @media #{$minSmall} {
    width: 750px;
  }
  @media #{$minMedium} {
    width: 970px;
  }
  @media #{$minLarge} {
    width: 1170px;
  }
}
.text-container-xs {
  @media #{$minMedium} {
    text-align: center;
  }
}

.clearfix {
  clear: both;
}
